@import "mixins";
.santa{
    position: relative;
    width: 317px;
    height: 179px;
    background: url("../img/general/santa.png");
    background-repeat: no-repeat;
    bottom: 0px;
    left: 30px;
}

[id$='info']{
    text-transform: uppercase;
    font-size: 20px;
    color: #4cae4c;
    &.wrong{
        color: #a94442;
    }
}

header{
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to top, #9fe6e7 0%, #0faac9 100%);
    padding-bottom: 200px;
    padding-top: 19px;
    .container{
        position: relative;
        z-index: 10;
    }
    .logo{
        margin-top: 19px;
    }
    .mask{
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 100%;
        .ground{
            position: absolute;
            bottom: 0;
            background: url("../img/general/bottom-header.png");
            height: 241px;
            width: 100%;
        }
        .snow{
            position: absolute;
            background: url("../img/general/snowflakes.png");
            background-repeat: no-repeat;
            margin-left: 75px;
            height: 550px;
            width: 1815px;
        }
    }
}



.logo{
    text-align: center;
    margin-bottom: 20px;
}

.promo{
    color: $col-white;

    p{
        text-align: center;

    }
    p:first-of-type{
        @include altair-b;
        margin-bottom: 25px;
    }
    p:nth-of-type(2){
        color: #ffffff;
        font-family: "Altair";
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 0.77px;
        margin-bottom: 35px;
        span:first-of-type{
            font-size: 20px;
            font-weight: 100;
            letter-spacing: 0.55px;
        }
        span:last-of-type{
            font-family: Altair;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.99px;
            text-transform: uppercase;
        }
    }
    &:before, &:after{
        content: '';
        display: block;
        width: 100%;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    &:after{
        background: url("../img/general/bot -title.png");
        background-repeat: no-repeat;
        background-size: cover ;
        height: 50px;
    }
    &:before{
        background: url("../img/general/top-title.png");
        background-repeat: no-repeat;
        background-size: cover ;
        height: 65px;
        margin-bottom: 21px;
    }
}

.text-center{
    text-align: center;
}

section.middle{
    background-image: radial-gradient(circle 395px at 52.94% 220.8%, #ff5d42 0%, #df4127 100%);
    padding: 50px;
    position: relative;
    h2{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #ffffff;
        font-family: Altair, "Open Sans";
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
        margin-bottom: 20px;
        white-space: nowrap;
        span{
            text-transform: uppercase;

        }
    }
    img{
        margin-top: 30px;
        width: 80%;
    }
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    background: #ffffff;
    padding: 37px 31px 60px;
    box-shadow: 0 0 6px rgba(42, 41, 41, 0.15);
    border-radius: 10px;
    &:before, &:after{
        content: '';
        display: block;
        position: absolute;
        width: 105%;
        height: 105%;
        top: 0;
        left: 0;
        transform: translate(-2.5%, -2.5%);
        border-radius: 10px;
    }
    &:before{
        background-color: #fcfcfc;
        z-index: -2;
    }
    &:after{
        background: url("../img/general/mask-form.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
    h3{
        color: #df4127;
        font-family: Altair;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.48px;
        text-align: center;
        margin-bottom: 35px;
    }
    input{
        margin-bottom: 5px;
        padding: 15px 10px;
        color: #a3a0a0;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.3px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #bebebe;
        background-color: #ffffff;
    }
    button{
        margin-top: 20px;
        border: none;
        outline: none;
        text-align: center;
        border-radius: 5px;
        color: #fffefe;
        border-bottom: 4px solid #7ab822;
        background: #81ce15;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.48px;
        span{
            font-size: 25px;
            letter-spacing: 0.75px;
            text-transform: uppercase;
        }
    }
}

footer{
    background-color: #82dae1;
    min-height: 640px;
    overflow: hidden;
    .title{
        position: relative;
        z-index: 5;
        margin-top: 35px;
        display: inline-block;
        &:before, &:after{
            content: ' ';
            display: block;
            position: absolute;
            bottom: -20px;
            border-style: solid;
        }
        &:after{
            right: 0;
            border-width: 21px 54px 0 0;
            border-color: #b7321c transparent transparent transparent;
        }
        &:before{
            left: 0;
            border-width: 21px 0 0 54px;
            border-color: #b7321c transparent transparent transparent;
        }
        .figure{
            position: absolute;
            z-index: -1;
            height: 100%;
            background: #d33e25;
            width: 91px;
            top: 20px;
            &_left{
                left: $figure-title;
            }
            &_right{
                right: $figure-title;
            }
        }
        h2{
            position: relative;
            z-index: 10;
            padding: 20px 30px;
            background: $col-red;
            margin: 0;
            color: #ffffff;
            font-family: Altair;
            font-size: 28px;
            font-weight: 700;
            letter-spacing: 0.7px;
        }
    }
    .container{
        position: relative;
    }
    .ball{
        position: absolute;
        border-radius: 100%;
        transform: translateX(-50%);
        padding: 10px 35px;
        &:after, &:before{
            content: ' ';
            display: block;
            position: absolute;
            z-index: 5;
        }
        &:after{
            top: -999px;
            left: 50%;
            height: 999px;
            width: 4px;
            transform: translateX(-50%);
        }
        &:before{
            @include bg($bow);
            top: 0;
            left: 50%;
            transform: translate(-50%, -98%);
            z-index: 6;
        }
        &:first-of-type{
            width: 235px;
            height: 235px;
            top: 326px;
            left: 12%;
            &:before{
                transform: translate(-50%, -83%) scale(.7);
            }
        }
        &:nth-of-type(2){
            width: 245px;
            height: 245px;
            top: 191px;
            left: 36%;
        }
        &:nth-of-type(3){
            width: 246px;
            height: 246px;
            top: 363px;
            left: 63.8%;
        }
        &:nth-of-type(4){
            width: 212px;
            height: 212px;
            top: 195px;
            left: 87.8%;
            padding: 10px 15px;
        }
    }
    .ball_red{
        color: #fff;
        background: #df4127;
        &:after{
            background: #df4127;
        }
    }
    .ball_white{
        color: #df4127;
        background: #fff;
        &:after{
            background: #fff;
        }
    }
    .ball__name{
        font-family: Altair, sans-serif;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    .ball__text{
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
    }
    .icon{
        display: inline-block;
    }
}
